{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "semi": false,
  "printWidth": 100,
  "arrowParens": "always",
  "trailingComma": "all",
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
