{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "quoteProps": "consistent",
  "semi": false,
  "printWidth": 120,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSameLine": true,
  "plugins": ["prettier-plugin-svelte", "@trivago/prettier-plugin-sort-imports"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
  "importOrder": ["^[$]env/(.*)", "^[$]core/(.*)", "^[$]lib/(.*)", "^[./]"],
  "importOrderSortSpecifiers": true
}
