@layer components {
  .button {
    --bg: theme('colors.surface-1.bg');
    --fg: theme('colors.surface-1.fg');
    --hover: theme('colors.surface-1.hover');
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: theme('spacing.2');
    transition-duration: 150ms, 150ms, 150ms, 250ms;
    transition-property: background-color, border-color, outline-color, outline-offset;
    outline: 2px solid transparent;
    outline-offset: 8px;
    border: 2px solid var(--bg);
    border-radius: theme('borderRadius.DEFAULT');
    padding: 0 theme('spacing.6');
    min-width: theme('spacing.16');
    height: theme('spacing.12');
    color: var(--fg);
    font-weight: bold;
    letter-spacing: theme('letterSpacing.wider');
    text-transform: uppercase;

    &:is(:hover, :active) {
      border: 2px solid var(--hover);
      background-color: var(--hover);
    }

    &:focus-visible {
      outline-color: theme('colors.ring');
      outline-offset: 2px;
    }
  }

  .button-filled {
    box-shadow: theme('elevation.low');
    background-color: var(--bg);
  }

  .button-primary {
    --bg: theme('colors.surface-primary.bg');
    --fg: theme('colors.surface-primary.fg');
    --hover: theme('colors.surface-primary.hover');
  }
}
