@layer utilities {
  .layout {
    --layout-padding: var(--app-layout-padding, 1rem);
    --layout-content-max: var(--app-layout-content, theme('screens.lg'));
    --layout-content-min: calc(100% - calc(var(--layout-padding) * 2));
    display: grid;
    grid-template-columns:
      [fullbleed-start] 1fr
      [content-start] min(var(--layout-content-min), var(--layout-content-max))
      [content-end] 1fr
      [fullbleed-end];
    grid-column-gap: var(--layout-padding);

    @media (min-width: theme('screens.sm')) {
      --layout-padding: var(--app-layout-padding, 2rem);
    }

    & > * {
      grid-column: content-start / content-end;
    }
  }

  .layout-start {
    grid-column: fullbleed-start / content-start;
  }

  .layout-fullbleed {
    grid-column: fullbleed-start / fullbleed-end;
  }

  .layout-end {
    grid-column: content-end / fullbleed-end;
  }
}
