@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource/merriweather';
@import '@fontsource-variable/inter';
@import '@fontsource-variable/quicksand';
@import '@fontsource-variable/roboto-slab';
@import '@fontsource-variable/caveat';
@import '$core/styles.scss';

:root {
  color-scheme: dark;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.canvas.bg');
  color: theme('colors.canvas.fg');
  overflow-y: scroll;
}

::selection {
  background-color: hsla(147, 66%, 50%, 0.25);
}
