@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@fontsource-variable/caveat';
@import '@fontsource-variable/quicksand';
@import '$core/styles.scss';

:root {
  color-scheme: dark;
  scroll-behavior: smooth;

  @media (prefers-reduced-motion) {
    scroll-behavior: auto;
  }
}

body {
  font-family: theme('fontFamily.sans');
  background-color: theme('colors.neutral.900');
  color: theme('colors.canvas.fg');
  overflow-y: scroll;
}

::selection {
  background-color: #25a6e9;
  color: black;
}
